.page2-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  text-align: center;
  width: 100%;
}

.page2-content h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.square {
  position: relative;
  height: 120px;
  width: 120px;
}

.square img {
  height: 100%;
  width: 100%;
}

.plus {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 30%;
  width: auto;
  color: rgb(100, 96, 96);
}

.plus:hover {
  color: white;
  transition: all 0.3s ease-in-out;
}

.content {
  position: absolute;
  top: -30%;
  left: 70%;
  text-wrap: nowrap;
  line-height: 1.2;
  text-align: left;
}

.container h3 {
  font-size: 16px;
  font-weight: 600;
  color: rgb(89, 89, 89);
}

.container h1 {
  font-weight: 600;
  font-size: 34px;
}